language: ruby
bundler_args: --without development
script: "bundle exec rake spec SPEC_OPTS='--format documentation'"
rvm:
  - 1.8.7
  - 1.9.3
  - 2.0.0
script:
  - "rake lint"
  - "rake spec SPEC_OPTS='--format documentation'"
env:
  - PUPPET_VERSION="~> 3.0.0"
  - PUPPET_VERSION="~> 3.1.0"
  - PUPPET_VERSION="~> 3.2.0"
matrix:
  exclude:
    - rvm: 2.0.0
      env: PUPPET_VERSION="~> 3.0.0"
    - rvm: 2.0.0
      env: PUPPET_VERSION="~> 3.1.0"
notifications:
  email: false
  hipchat:
    rooms:
      - secure: "rlfAny8f0Nkofxrj5WFWiABV9Z+c7FAtlxW2ofEfx6k/64UmT1kYpgHa+9W+\neEHvpcTOZ58WaXMX9uDXiav9R1LKMJ6Ro+mtWbw5qZeUq7hhb2JShBpOgl0g\nkueDqg7pZLfCc1p7bcOCgSzK1w7vuXEqHxZUElGy8GkMlFXkrKw="
  on_success: always
  on_failure: always
